.botao {
   background-color: #6278f7;
   border-radius: 10px;
   font-weight: 700;
   font-size: 18px;
   padding: 32px;
   border: none;
   cursor: pointer;
   color: #fff;
   transition: all 600ms ease-in-out;
   margin-top: 1.757rem;
}

.botao:hover {
   color: #95ffd4;
}